<h1>hello admin users</h1>

<p>A new student is created</p>
<p>Here is the details of student </p>
<h3>Name : <%=@object.name%></h3>
<h3>Address : <%=@object.address%></h3>

<%# 
<%= image_tag attachments['download.png'].url, alt: 'My Photo'  %> 
<p>Hello there, this is our image</p>
<%# 
<%= image_tag attachments['download.png'].url %> %>

<p>Best Regards,<p>
<p>admin</p>